<ion-view title="friends">
  <ion-content>
	<div class="row">
		<h1 class="col col-100" style="text-align: center">Yo Friends </h1>
	</div>

<div class="list">

    <a class="item item-avatar" ng-click="toGame()">
      <img src="asdfasdfa.asdfa">
      <h2>Venkman</h2>
      <p clas>Back off, man. I'm a scientist.</p>
      <div class="row">
      	<div class="col col-80"></div>
     	<div class="col col-20"><button class="button button-block button-dark" ng-click="toGame()">Start game</button></div>
      </div>
    </a>

    ...

</div>
  </ion-content>
</ion-view>