<ion-view title="friends">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon" >
    </button>
  </ion-nav-buttons>
  <ion-content>
	<div class="row">
		<h1 class="col col-100" style="text-align: center">Yo Friends </h1>
  </div>
  <div class="row">
    <p class="col col-100" style="text-align: center">{{data.showUser}}</p>
  </div>

<!--  This list will eventually include all friends from Facebook.
      The list will have friends with the app listed first.
      Users will be able to start a game with other friends who have the app.
      Users will be able to invite friends who don't have the app to download Yo Banfa.
-->
  <ion-list>

    <ion-item ng-repeat='friend in data.friends'>
      <img src="ghj">
      <h2>{{friend}}</h2>
      <p clas>Back off, man. I'm {{friend}}.</p>
      <div class="row">
      	<div class="col col-80"></div>
     	<div class="col col-20"><button class="button button-block button-dark" ng-click="toGame()">Start game</button></div>
      </div>
    </ion-item>
  </ion-list>

  <!-- for testing -->
  <ion-list>

    <ion-item>
      <img src="ghj">
      <h2>testFriend</h2>
      <p clas>Back off, man. I'm testy.</p>
      <div class="row">
        <div class="col col-80"></div>
      <div class="col col-20"><button class="button button-block button-dark" ng-click="toGame()">Start game</button></div>
      </div>
    </ion-item>
  </ion-list>

<!-- Get friends from database

  <input ng-model='searchFilter.title' type='input'>
    <li class='link' ng-repeat='friend in data.friends | filter:searchFilter'> friend: {{friend}}<div></div></li>

-->
  </ion-content>
</ion-view>