<ion-view title="Hanzi Options">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon" >
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div style="margin-top: 100px">
      <div class="row" ng-repeat="option in options">
        <button ui-sref="deckOptions" class="button button-full button-royal col" ng-click="update(option.title)">
        <button ui-sref="deckOptions" class="button button-full button-royal col">
         <div class="row">
           <span class="hanzi">{{option.hanzi}}</span>
         </div>
         <div class="row"
          <span class='buttonFont'>{{option.title}}</span>
         </div>
        </button>    
      </div>  
    </div>
  </ion-content>
</ion-view>